/*=============================================
=            HEADER MEDIAQUERY          =
=============================================*/
@media (max-width: 1599px) {
  .my_container {
    width: 80% !important;
  }
}
@media (max-width: 599px) {
  .jumbo_box {
    grid-template-columns: 100% !important;
    grid-template-rows: auto !important;
    grid-template-areas: "celineimg" !important;
  }
}
@media (min-width: 600px) and (max-width: 1599px) {
  .my_jumbotron .jumbo_box {
    grid-template-columns: 100% !important;
    grid-template-rows: auto auto !important;
    grid-template-areas: "celineimg" "celinemaintext" !important;
  }
}
@media (max-width: 699px) {
  li::before {
    content: "";
    display: none !important;
  }
}
@media (max-width: 999px) {
  nav li > a {
    font-size: 1em !important;
  }
}
@media (max-width: 1599px) {
  nav {
    margin: auto;
    display: grid;
    grid-template-columns: 100% !important;
    grid-template-rows: 0% !important;
    grid-template-areas: "navbar" !important;
    align-items: center;
  }
}
@media (max-width: 599px) {
  .jumbo_text {
    padding-top: 0px !important;
  }
  .jumbo_text h1 {
    display: none !important;
  }
  .jumbo_text h3 {
    display: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1599px) {
  .jumbo_text {
    padding: 30px;
  }
}
@media (min-width: 1000px) {
  .my_jumbotron .jumbo_text {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }
  .my_jumbotron .jumbo_text h1 {
    font-size: 5vw !important;
  }
  .my_jumbotron .jumbo_text h3 {
    font-size: 2vw !important;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .my_jumbotron .jumbo_img img {
    max-height: 300px;
    max-width: 200px !important;
    width: 80% !important;
  }
}
@media (min-width: 1000px) {
  .my_jumbotron .jumbo_img {
    grid-area: celineimg;
  }
  .my_jumbotron .jumbo_img img {
    width: 70% !important;
    max-height: 250px;
  }
}
@media (min-width: 1400px) {
  .my_jumbotron .jumbo_img {
    grid-area: celineimg;
  }
  .my_jumbotron .jumbo_img img {
    width: 80% !important;
    max-height: 300px;
  }
}
@media (min-width: 1600px) {
  .my_jumbotron .jumbo_box {
    grid-template-columns: 25% auto !important;
  }
  .my_jumbotron .jumbo_img {
    grid-area: celineimg;
  }
  .my_jumbotron .jumbo_img img {
    width: 80% !important;
    max-height: 300px;
  }
}
@media (min-width: 2750px) {
  .my_jumbotron .jumbo_img img {
    max-height: 350px !important;
    width: 100% !important;
  }
}
@media (min-width: 4096px) {
  .my_jumbotron .jumbo_img img {
    max-height: 400px !important;
    width: 100% !important;
  }
}
/*=====  End of Section comment block  ======*/
