/* MediaQuery CSS Louis Ferdinand Celine */
/*=============================================
=            Section comment block            =
=============================================*/
@media (max-width: 500px) {
  .jumbo_box {
    grid-template-columns: 100% !important;
    grid-template-rows: auto 2fr 1fr !important;
    grid-template-areas: "celineimg" "celinemaintext" "celinemaintext" !important;
  }
}
@media (min-width: 501px) and (max-width: 1199px) {
  .my_jumbotron .jumbo_box {
    grid-template-columns: 100% !important;
    grid-template-rows: auto auto !important;
    grid-template-areas: "celineimg" "celinemaintext" !important;
  }
}
@media (max-width: 1199px) {
  .jumbo_text {
    padding-top: 30px !important;
  }
}
@media (max-width: 599px) {
  .jumbo_text h1 {
    font-size: 2.3rem !important;
    text-align: center !important;
  }
  .jumbo_text h3 {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .jumbo_text h1 {
    font-size: 7vw !important;
    text-align: center !important;
  }
  .jumbo_text h3 {
    font-size: 2.7vw !important;
    text-align: center !important;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .jumbo_text h1 {
    font-size: 7vw !important;
  }
  .jumbo_text h3 {
    font-size: 2.5vw !important;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .jumbo_text h1 {
    font-size: 7vw !important;
  }
  .jumbo_text h3 {
    font-size: 2.3vw !important;
  }
}
@media (min-width: 599px) and (max-width: 1199px) {
  .my_jumbotron .jumbo_img {
    grid-area: celineimg !important;
    display: flex;
    justify-content: center;
  }
  .my_jumbotron .jumbo_img img {
    max-height: 300px;
    max-width: 255px;
    width: 90% !important;
  }
  .my_jumbotron .jumbo_text {
    grid-area: celinemaintext !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (min-width: 1200px) and (max-width: 1660px) {
  .my_jumbotron .jumbo_img {
    grid-area: celineimg;
  }
  .my_jumbotron .jumbo_img img {
    width: 100% !important;
  }
  .my_jumbotron .jumbo_text {
    grid-area: celinemaintext;
  }
  .my_jumbotron .jumbo_text h1 {
    font-size: 6vw !important;
    margin-left: 20px !important;
  }
  .my_jumbotron .jumbo_text h3 {
    font-size: 1.9vw !important;
    margin-left: 20px !important;
  }
}
/*=====  End of Section comment block  ======*/
