/* Codice CSS Louis Ferdinand Celine */

// Basic Stylesheet
@import "./Partials/Main Style/_common.scss";
@import "./Partials/Main Style/_elements.scss";
// @import "./Partials/Main Style/_carousel.scss";
@import "./Partials/Main Style/_navbar.scss";

// Special GoogleFont
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Caveat');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
} 


body {
    
    // Background & Typhography
    background: map-get($color-map, background_color);
    background: radial-gradient(circle, rgba(68,7,7,1) 50%, rgba(49,5,5,1) 75%, rgba(24,2,2,1) 99%, rgba(0,0,0,1) 100%);
    font-family: 'Montserrat', sans-serif;

    // Container
    .my_container {
        // height: 100vh;
        width: 60%;
        padding: 0;
        margin: 0 auto;
        background-color: map-get($color-map, primary_color);
        border-left: 1px solid black;
        border-right: 1px solid black;

        // Layout interno
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content auto 5%;
        grid-template-areas: "header" "main" "footer";
        overflow: hidden;
    }

    // Header
    header {
        
        grid-area: header;
        overflow: hidden;
        
        // Jumbotron
        .my_jumbotron {
           
            // Jumbotron - layout interno
            .jumbo_box {
                grid-template-columns: 22% auto;
                grid-template-rows: auto;
                grid-template-areas: 
                    "celineimg celinemaintext";
                
                justify-items: center;
                align-items: center;


                .jumbo_img {

                    grid-area: celineimg;

                    img {
                        width: auto;
                        max-height: 300px;
                        max-width: 200px;
            
                    }
                }

                .jumbo_text {
                    grid-area: celinemaintext;
                    padding-top: 30px;
                    
                    h1, h3 {
                        
                        margin: 0;
                        padding: 0;
                    }
                    
                    h1 {
                        font-size: 6rem;
                        font-family: 'Dancing Script', 'cursive';
                    }
                    
                    h3 {
                        font-size: 2rem;
                        font-family: 'Caveat', 'cursive';

                    }
                }
        

            }
        }

    }
    
    
    main {
        grid-area: main;
        // background-image: url("https://iili.io/Hlz2ZIR.md.png");
        background-image: url("https://iili.io/HlIZMhX.md.png");
        background-repeat: no-repeat;
        background-size: cover;

        height: 800px;



        //  Boostrap Cards

    }

    footer {
        grid-area: footer;
        background-color: black;
        
        height: 100px;
        
        // Text
        color: map-get($color-map, links_color);

        p {
            margin: 0;
            height: 100%;
            
            small {
                font-size: 1rem;
                font-family: 'Caveat', 'cursive';
            }
        }
         
    }
    

}