/* Codice CSS Louis Ferdinand Celine */

// Basic Stylesheet: fonts, common, elements, header with jumbotron, navbar, footer
@import "../style.scss";


* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
} 


body {

    // Main
    main {
        grid-area: main;
        background-repeat: no-repeat;
        background-size: cover;

        // HR  
        
        @include bar();

        hr.ink_bar:nth-child(3), hr.ink_bar:nth-child(5)  {
            margin: 30px auto 50px auto;
        }

        // HOME PAGE 
        .quotation {
            flex-direction: column;
            align-items: center;

            blockquote, figcaption {
                font-family: 'Caveat', sans-serif;
                width: 85%;
                color: map-get($color-map, background_color);
            }

            figcaption {
                text-align: center;
            }

        }

        .mini_bio {

        // Minibio - Layout interno
        display: grid;
        grid-template-columns: 20px 50% 20px auto 20px;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". celinetext . celineimg . ";
        
            // Testo minibio
            .mini_bio_text {
                grid-area: celinetext;
                width: 100%;
                scrollbar-color: grey map-get($color-map, hr_color) !important;
                overflow-y: auto;
                box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);

                p, h3 {
                    padding: 15px;
                    margin: 0;
                }

                h3 {
                    font-size: 1.5rem !important;
                    font-family: map-get($font-family-map, em);
                    color: map-get($color-map, nav_color);
                   
                }
                
                p  {
                    font-size: 1.1rem;  
                    font-family:  map-get($font-family-map, plain);
                }

            }

            // Immagine minibio
            .mini_bio_img {
                grid-area: celineimg;
                display: flex;
                flex-direction: column;

                figcaption {
                    align-self: center;
                    padding-top: 10px;
                    font-family: map-get($font-family-map, em);
                }
            }
        
        }
    }         



}