
/*=============================================
=            HEADER MEDIAQUERY          =
=============================================*/

// CONTAINER 
@media (max-width: 1599px) {
    .my_container {
        width: 80% !important;
    }

}

// LAYOUT INTERNO 
@media (max-width: 599px) {
    // Layout interno
    .jumbo_box {
        grid-template-columns: 100% !important; 
        grid-template-rows: auto !important;
        grid-template-areas: "celineimg" !important;
    }
}

@media (min-width: 600px) and (max-width: 1599px) {
    .my_jumbotron {

        // Layout interno
        .jumbo_box {
            grid-template-columns: 100% !important; 
            grid-template-rows: auto auto !important;
            grid-template-areas: "celineimg" "celinemaintext" !important;

        }
    }


}


// NAVBAR + MENU' NAVIGAZIONE
@media (max-width: 699px) {
    li::before {
        content: "";
        display: none !important;
    }
}

@media (max-width: 999px) {
    nav li > a {
        font-size: 1em !important;
    }

}

@media (max-width: 1599px) {
    nav {
        margin: auto;
        display: grid;
        grid-template-columns: 100% !important;
        grid-template-rows: 0% !important;
        grid-template-areas: "navbar" !important;
        align-items: center;
    }
}

      
// TESTO JUMBOTRON

// Nessuna scritta, solo foto
@media (max-width: 599px) {
    .jumbo_text {

        padding-top: 0px !important;

        h1 {
            display: none !important;
        } 
        
        h3 {
            display: none !important;
        }
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .jumbo_text {

        h1 {
            font-size: 5vw !important;
            text-align: center !important; 
        }
            
        .jumbo_text {
            padding-top: 10px !important;
        }

        h3 {
            font-size: 2.7vw !important;
            text-align: center !important;
        }
        
       
    } 
}

@media (min-width: 800px) and (max-width: 999px) {

    .jumbo_text {

        h1 {
            font-size: 5vw !important;
            text-align: center !important; 
        }
            
        .jumbo_text {
            padding-top: 10px !important;
        }
        
        h3 {
            font-size: 2.5vw !important;
            text-align: center;
            
        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {

    .jumbo_text {
       
        h1 {
            font-size: 6.5vw !important;
        }
        
        h3 {
            font-size: 2.3vw !important;
            
        }
    }
}

@media (min-width: 1200px) {
    .jumbo_text {

        grid-area: celinemaintext;
        padding-top: 0px !important;
        margin-left: 20px !important;

        h1 {
            font-size: 5vw !important;
        }
        
        h3 {
            font-size: 2vw !important;
            text-align: center;
            
        }
        
    }

}


// IMMAGINE
@media (max-width: 699px) {
    .my_jumbotron {

        .jumbo_img {
        
            img {
                max-height: 300px;
                max-width: 200px !important;
                width: 90% !important;
            }
        }
    
       
        
    }

}

@media(min-width: 1200px) and (max-width: 1599px){
    .my_jumbotron {

        .jumbo_img {
            
            grid-area: celineimg;
            
            img {
                width: 80% !important;
                max-height: 300px;
            }
        }

    }

}

@media(min-width: 1600px) {
    .my_jumbotron {

        // Jumbotron - layout interno
        .jumbo_box {
            grid-template-columns: 25% auto !important;
        }

        .jumbo_img {
            
            grid-area: celineimg;
            
            img {
                width: 80% !important;
                max-height: 300px;
            }

        }

    }

}

@media (min-width: 2750px) {
    .my_jumbotron {

        .jumbo_img {
        
            img {
                max-height: 350px !important;
                width: 100% !important;
            }
        }
    
       
        
    }

}

@media (min-width: 4096px ) {
    .my_jumbotron {

        .jumbo_img {
        
            img {
                max-height: 400px !important;
                width: 100% !important;
            }
        }
    
       
        
    }
}



// IMMAGINE + TESTO JUMBOTRON
@media (max-width: 1599px) {
    .my_jumbotron {

        .jumbo_img {
            grid-area: celineimg !important;
            display: flex;
            justify-content: center;
          
            img {
                max-height: 300px;
                max-width: 255px;
                width: 90% !important;
            }
        }
    
        .jumbo_text {
            grid-area: celinemaintext !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
            
        }
        
    }

}










/*=====  End of Section comment block  ======*/