@import "../style.scss";
@import "../mediaquery.scss";


// @media (max-width: 799px) {

//     main {

//         .mini_bio {
            
//             // Minibio - Layout interno
//             display: grid;
//             grid-template-columns: 20px auto 20px !important;
//             grid-template-rows: auto auto !important;
//             grid-template-areas: 
//                 ". celineminibioimg ."
//                 ". celineminibiotext ." !important;
            

//             // Testo Minibio
//             .mini_bio_text {
//                 grid-area: celineminibiotext;
//                 grid-column: 2/3 !important;
//                 width: 100%;
                
//                 p {
//                     margin-top: 20px;
//                     font-size: 0.8rem;
//                     text-align: justify;
//                 }
//             }


//             // Immagine minibio
//             .mini_bio_img {
//                 grid-area: celineminibioimg;
//                 grid-column: 2/3 !important;
//                 justify-self: center !important;

//                 img {
//                     width: 100% !important;
//                     max-width: 250px !important;
//                     min-width: 180px;
//                     height: auto;                      
//                 }

//             }
            
//         }

//     }

// }

// @media (min-width: 800px) and (max-width: 999px) {

//     main {

//         .mini_bio {

//             // Minibio - Layout interno
//             display: grid;
//             grid-template-columns: 20px auto 20px auto 20px;
//             grid-template-rows: auto auto !important;
//             grid-template-areas: 
//                 ". celineminibiotext . celineminibioimg ."
//                 ". celineminibiotextlong celineminibiotextlong celinebiotextlong ." !important;
            
//             p {
//                 font-size: 0.85rem !important;
//                 margin-bottom: 0;
//             }

//             .mini_bio_text {
//                 grid-area: celineminibiotext;
//                 grid-column: 2 / 3;
//                 width: 100%;
                
//             }

//             .mini_bio_text_long {
//                 grid-area: celineminibiotextlong;
//                 grid-column: 2 / 5 !important;

//                 p {
//                     margin-top: 20px !important;
//                 }
//             }


//             // Immagine minibio
//             .mini_bio_img {

//                 img {
//                     width: 100% !important;
//                     max-width: 250px !important;
//                     min-width: 180px;
//                     height: auto;                      
//                 }
//             }
//         }
//     }

// }

// @media (min-width: 1000px) and (max-width: 1200px) {

//     main {

//         .mini_bio {

//             // Testo minibio
//             .mini_bio_text {

//                 p {
//                     font-size: 0.9rem !important;
//                 }
//             }
            

//             // Immagine minibio
//             .mini_bio_img {

//                 img {
//                     width: 100% !important;
//                     max-width: 300px !important;
//                     min-width: 180px;
//                     height: auto;                      
//                 }
//             }

//         }
            
           
//     }
    
// }

// @media (min-width: 1300px) and (max-width: 1550px) {

//     main {

//         .mini_bio {
            

//             .mini_bio_text > p:nth-child(2) {
//                 display: none;
//             }

//              // Testo minibio 
//              p {
//                 font-size: 1rem !important;
//                 margin-bottom: 0;
//             }

//             // Immagine minibio
//             .mini_bio_img {

//                 img {
//                     width: 100% !important;
//                     max-width: 250px !important;
//                     min-width: 180px;
//                     height: auto;                      
//                 }
//             }

//             .mini_bio_text_long {
//                 display: block !important;
//                 grid-area: celineminibiotext;
//                 grid-row: 3/4;
//                 grid-column: 2/5;
//             }

//         }
            
           
//     }

// }


// Schermi grandi xl
@media (min-width: 1680px) and (max-width: 1919px) {
   
    main {

        .mini_bio {

        // Minibio - Layout interno
        display: grid;
        grid-template-columns: 20px auto 20px auto 20px !important;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". celinetext . celineimg . ";

            // Testo minibio
            .mini_bio_text {
                grid-area: celinetext;
                max-height: 1000px !important;
                width: 100%;
                scrollbar-color: grey map-get($color-map, hr_color) !important;
                overflow-y: auto;
                box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);

                p, h3 {
                    padding: 15px;
                    margin: 0;
                }

                h3 {
                    font-size: 1.5rem !important;
                    font-family: map-get($font-family-map, em);
                    color: map-get($color-map, nav_color);
                
                }
                
                p  {
                    font-size: 1.1rem !important;  
                    font-family:  map-get($font-family-map, plain);
                }

            }

            // Immagine minibio
            .mini_bio_img {
                grid-area: celineimg;
                display: flex;
                flex-direction: column;
                
                img {
                    width: 100% !important;
                    flex-grow: 1;
                }

                figcaption {
                    align-self: center;
                    padding-top: 10px;
                    font-family: map-get($font-family-map, em);
                }
            }
        
        }
    }
    
    

}



// Schermi Full HD
@media (min-width: 1920px) {
   
    main {

        .mini_bio {

        // Minibio - Layout interno
        grid-template-columns: 20px 50% 20px auto 20px !important;
      
            // Immagine minibio
            .mini_bio_img {
                img {
                    width: 100% !important;
                    flex-grow: 1;
                }

            }
        
        }
    }
    
}

// Schermi 2K
@media (min-width: 1920px) {
   
    main {

        .mini_bio {

        // Minibio - Layout interno
        grid-template-columns: 20px 50% 20px auto 20px !important;
      
            // Immagine minibio
            .mini_bio_img {
                img {
                    width: 100% !important;
                    flex-grow: 1;
                }

            }
        
        }
    }
    
}
